extends layout
block content
    h1= title
    div
        ul.sync-pagination.pagination-sm
    each item,idx in items
        if(item.type)
            h5
                button.btn.btn-success.btn-xs(style="margin-right:10px") [#{item.type}]
                span.label.label-success(style="margin-right:10px") #{idx + 1}
                a(href="#{item.link}",target="_blank") #{item.title}
        else
            h5
                button.btn.btn-info.btn-xs(style="margin-right:10px") [未知]
                span.label.label-info(style="margin-right:10px") #{idx+1}
                a(href="#{item.link}",target="_blank") #{item.title}

    script(src="/javascripts/jquery.twbsPagination.min.js")
    script.
        $(document).ready(function () {
            $('.sync-pagination').twbsPagination({
                totalPages: #{items.totalPages},
                visiblePages: 7,
                first: '首页',
                last: '末页',
                prev: '上一页',
                next: '下一页',
                href: '?tab=all&page={{number}}',
                onPageClick: function (evt, page) {
                    $('#sync-example-page-content').text('Page ' + page);
                }
            });
        });

